<div class="page-container page-cart-container">
    <div class="cart-item-list">
        <div class="list-header">
            <div class="row">
                <div class="col-md-16">
                    <label>Product</label>
                </div>
                <div class="col-md-4 text-center">
                    <label>Quantity</label>
                </div>
                <div class="col-md-3 text-right">
                    <label>Price</label>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <ng-container *ngIf="cart && cart['items'].length > 0">
            <ng-container *ngFor="let item of cart['items']">
                <cart-item [item]="item"></cart-item>
            </ng-container>
        </ng-container>
    </div>

    <ng-container *ngIf="cart && cart['items'].length > 0">
        <div class="cart-totals">
            <div class="row">
                <div class="col-md-17"></div>
                <div class="col-md-3">
                    <span>Subtotal</span>
                </div>
                <div class="col-md-3 text-right">
                    <span>{{cart['sub_total'] | currency}}</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-17"></div>
                <div class="col-md-3">
                    <span>Shipping</span>
                </div>
                <div class="col-md-3 text-right">
                    <span>{{cart['shipping_total'] | currency}}</span>
                </div>
            </div>

            <div class="row row-grand-total">
                <div class="col-md-17"></div>
                <div class="col-md-3">
                    <span><strong>Grand Total</strong></span>
                </div>
                <div class="col-md-3 text-right">
                    <span><strong>{{cart['total_amount'] | currency}}</strong></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-17"></div>
                <div class="col-md-6 text-center">
                    <button type="button" class="btn btn-success btn-lg" style="width: 100%;"
                        (click)="payCart()">Checkout</button>
                </div>
            </div>
        </div>
    </ng-container>
</div>