@font-face {
  font-family: 'dri-lyons';
  src:  url('../../fonts/dri-lyons/fonts/dri-lyons.eot?z3bqi5');
  src:  url('../../fonts/dri-lyons/fonts/dri-lyons.eot?z3bqi5#iefix') format('embedded-opentype'),
    url('../../fonts/dri-lyons/fonts/dri-lyons.ttf?z3bqi5') format('truetype'),
    url('../../fonts/dri-lyons/fonts/dri-lyons.woff?z3bqi5') format('woff'),
    url('../../fonts/dri-lyons/fonts/dri-lyons.svg?z3bqi5#dri-lyons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="dri-"], [class*=" dri-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dri-lyons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dri-accordion:before {
  content: "\e900";
}
.dri-accordion-close:before {
  content: "\e901";
}
.dri-accordion-open:before {
  content: "\e902";
}
.dri-account:before {
  content: "\e903";
}
.dri-account-add:before {
  content: "\e904";
}
.dri-apparel:before {
  content: "\e905";
}
.dri-arrow-right:before {
  content: "\e906";
}
.dri-arrow-left:before {
  content: "\e908";
}
.dri-arrow-down:before {
  content: "\e909";
}
.dri-arrow-up:before {
  content: "\e90a";
}
.dri-banners:before {
  content: "\e90b";
}
.dri-bottom-of-copy:before {
  content: "\e90c";
}
.dri-brochures:before {
  content: "\e90d";
}
.dri-call:before {
  content: "\e90e";
}
.dri-cart:before {
  content: "\e90f";
}
.dri-checkmark_circle .path1:before {
  content: "\e915";
  color: rgb(51, 51, 51);
}
.dri-checkmark_circle .path2:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.dri-circle:before {
  content: "\e917";
}
.dri-contact-us:before {
  content: "\e918";
}
.dri-corner:before {
  content: "\e919";
}
.dri-gear-solid:before {
  content: "\e91a";
  color: #126cb5;
}
.dri-gear:before {
  content: "\e91b";
}
.dri-customer-review:before {
  content: "\e91c";
}
.dri-cut-to-size-stickers:before {
  content: "\e91d";
}
.dri-design-tool:before {
  content: "\e91e";
}
.dri-dislike:before {
  content: "\e91f";
}
.dri-double-gate-fold:before {
  content: "\e920";
}
.dri-double-parallel-fold:before {
  content: "\e921";
}
.dri-download-file:before {
  content: "\e922";
}
.dri-duplicate:before {
  content: "\e923";
}
.dri-faq:before {
  content: "\e924";
}
.dri-flyers:before {
  content: "\e925";
}
.dri-free-proof:before {
  content: "\e926";
}
.dri-french-fold:before {
  content: "\e927";
}
.dri-gate-fold:before {
  content: "\e928";
}
.dri-grid:before {
  content: "\e929";
}
.dri-half-fold:before {
  content: "\e97f";
}
.dri-hamburger:before {
  content: "\e980";
}
.dri-left-of-copy:before {
  content: "\e981";
}
.dri-like:before {
  content: "\e982";
}
.dri-list:before {
  content: "\e983";
}
.dri-live-chat:before {
  content: "\e984";
}
.dri-loading .path1:before {
  content: "\e985";
  color: rgb(178, 177, 177);
}
.dri-loading .path2:before {
  content: "\e986";
  margin-left: -1em;
  color: rgb(178, 177, 177);
}
.dri-loading .path3:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(178, 177, 177);
}
.dri-loading .path4:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(178, 177, 177);
}
.dri-loading .path5:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(178, 177, 177);
}
.dri-loading .path6:before {
  content: "\e98a";
  margin-left: -1em;
  color: rgb(178, 177, 177);
}
.dri-loading .path7:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(178, 177, 177);
}
.dri-loading .path8:before {
  content: "\e98c";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.dri-log-in:before {
  content: "\e98d";
}
.dri-mailing-box:before {
  content: "\e98e";
  color: #fff;
}
.dri-mailing-services:before {
  content: "\e98f";
}
.dri-no-fold:before {
  content: "\e991";
}
.dri-not-important:before {
  content: "\e992";
}
.dri-order-now:before {
  content: "\e993";
}
.dri-oval:before {
  content: "\e994";
}
.dri-printing:before {
  content: "\e995";
}
.dri-best-seller:before {
  content: "\e996";
}
.dri-business-essentials:before {
  content: "\e997";
}
.dri-custom-quote:before {
  content: "\e998";
}
.dri-calendar:before {
  content: "\e999";
}
.dri-prod-labels:before {
  content: "\e99a";
}
.dri-marketing-essentials:before {
  content: "\e99b";
}
.dri-new:before {
  content: "\e99c";
}
.dri-packaging:before {
  content: "\e99d";
}
.dri-promo:before {
  content: "\e99e";
}
.dri-signs:before {
  content: "\e99f";
}
.dri-product-box .path1:before {
  content: "\e9a0";
  color: rgb(221, 221, 221);
}
.dri-product-box .path2:before {
  content: "\e9a1";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.dri-product-box .path3:before {
  content: "\e9a2";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.dri-product-box .path4:before {
  content: "\e9a3";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.dri-product-box .path5:before {
  content: "\e9a4";
  margin-left: -1em;
  color: none;
}
.dri-product-box .path6:before {
  content: "\e9a5";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.dri-product-box .path7:before {
  content: "\e9a6";
  margin-left: -1em;
  color: none;
}
.dri-product-box .path8:before {
  content: "\e9a7";
  margin-left: -1em;
  color: none;
}
.dri-product-box .path9:before {
  content: "\e9a8";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.dri-recent-search:before {
  content: "\e9a9";
}
.dri-rectangle:before {
  content: "\e9aa";
}
.dri-remove:before {
  content: "\e9ab";
}
.dri-reorder:before {
  content: "\e9ac";
}
.dri-right-of-copy:before {
  content: "\e9ad";
}
.dri-roll-fold:before {
  content: "\e9ae";
}
.dri-roll-stickers-stickers:before {
  content: "\e9af";
}
.dri-saved-design:before {
  content: "\e9b0";
}
.dri-search:before {
  content: "\e9b1";
}
.dri-secured-checkout:before {
  content: "\e9b2";
}
.dri-share-link:before {
  content: "\e9b3";
  color: #757575;
}
.dri-shipping-box:before {
  content: "\e9b4";
  color: #fff;
}
.dri-shipping:before {
  content: "\e9b5";
}
.dri-square:before {
  content: "\e9b6";
}
.dri-star-solid:before {
  content: "\e9b7";
}
.dri-question-circle .path1:before {
  content: "\e9bb";
  color: rgb(255, 255, 255);
}
.dri-question-circle .path2:before {
  content: "\e9bc";
  margin-left: -1em;
  color: rgb(117, 117, 117);
}
.dri-top-of-copy:before {
  content: "\e9bd";
}
.dri-track-order:before {
  content: "\e9be";
}
.dri-trifold:before {
  content: "\e9bf";
}
.dri-trifold-letterfold:before {
  content: "\e9c0";
}
.dri-upload-file:before {
  content: "\e9c1";
}
.dri-checkmark:before {
  content: "\e9c2";
  color: #03a74f;
}
.dri-exclamation:before {
  content: "\e9c4";
}
.dri-warning-triangle .path1:before {
  content: "\e9c5";
  color: rgb(51, 51, 51);
}
.dri-warning-triangle .path2:before {
  content: "\e9c6";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.dri-warning-triangle .path3:before {
  content: "\e9c7";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.dri-close:before {
  content: "\e9c8";
}
.dri-z-fold:before {
  content: "\e9c9";
}
.dri-zoom-in:before {
  content: "\e9ca";
  color: #757575;
}
